body {
  background-color: #f8f7f2;;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: auto;
  text-align: center;
  color: rgb(54, 54, 54);
  margin: 10%;
  width: 80%;
  letter-spacing: -1px;
}

.navbar {
  width: 100%;
  height: 10vh;
}

.navbar a{
  padding: 6px 20px;
  margin-left: 20px;
  font-size: 25px;
}

.navbar a:hover {
  color: rgb(79, 181, 206);
}

.photo-profile {
  border-radius: 50%;
  width: 140px;
  height: 160px;
  display: block; 
  margin: 0 auto; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-section {
  flex: 1;
  max-width: 400px; /* Imposta una larghezza massima per le sezioni di testo */
  margin: 10px;
  text-align: center;
}

.profile-image {
  max-width: 25%; /* Assicura che l'immagine non superi la larghezza del contenitore */
  border-radius: 20px;
}

@media (max-width: 768px) {
  .profile-image {
    max-width: 100%; /* Modifica la larghezza massima per le sezioni di testo su schermi più piccoli */
  }
}


a {
  text-decoration: none;
}

a:link {
  color: rgb(54, 54, 54);
}

a:visited {
  color: rgb(54, 54, 54);
}

a:hover {
  color: rgb(118, 134, 142);
}

p{
  font-size: 1.6em;
  text-align: justify;
  
}



.AVOTARS {
  text-align: center;
}
.avotars, .thepond {
  border-radius: 10%;
  width: 200px;
  height: 200px;
}
.incentive {
  border-radius: 10%;
  width: 200px;
  height: 200px;
}


@media (max-width: 640px) {
  p {
    font-size: 1.2em;
    
    font-kerning: none;
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #afbab9;
  color: #000000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #afbab9 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 2;
}





